/* #region Base styles */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

/* #endregion */

/* #region Header */

.logo-header {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.web-header {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.navigation a{
  color: #2E2F42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.navigation a:hover,
.navigation a:focus {
  color: #404bbf;
}

.address {
  font-style: normal
}

.address a{
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address a:hover,
.address a:focus {
  color: #404bbf;
}

/* #endregion */

/* #region Section Hero */

.hero {
background-color: #2E2F42;
}

.title-hero {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
}

.button-hero {
  color: #FFFFFF;
  background-color: #4D5AE5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button-hero:hover,
.button-hero:focus {
  background-color: #404BBF;
}

/* #endregion */

/* #region Section Features */

.features h2 {
  font-weight: 700;
}

.features h3 {
  color: #2E2F42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.features p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* #endregion */

/* #region Section Team */

.team {
  background-color: #F4F4FD;
}

.team h2 {
  font-weight: 700;
  color: #2E2F42;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-images li {
  background-color: #FFFFFF;
}

.team-list h3 {
  color: #2E2F42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-list p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* #endregion */

/* #region Portfolio */

.portfolio h2 {
  font-weight: 700;
  color: #2E2F42;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio-list h3 {
  color: #2E2F42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-list p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* #endregion */

/* #region Footer */

.footer {
  background-color: #2E2F42;
}

.logo-footer {
  color: #F4F4FD;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.web-footer {
  color: #4D5AE5;
}

.footer p {
  color: #F4F4FD;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* #endregion */